@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td,hr{margin:0px;padding:0px;}
body{font-size:12px;line-height:1.5;font-family:微软雅黑;background:#fff;}
h1,h2,h3,h4,h5,h6{font-family:arial,"hiragino sans gb","microsoft yahei","Simsun",sans-serif;font-size:100%;font-weight:normal;}
input,textarea,select,button{font-size:12px;,font-weight:normal;vertical-align:middle;}
input[type='button'],input[type='submit'],select,button{cursor:pointer;}
table{border-spacing:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:"";}
abbr,acronym{border:0 none;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
fieldset,img,a img,iframe{border-style:none;border-width:0;}
img{vertical-align:middle;vertical-align:middle;outline:none;}
textarea{overflow-y:auto;}
legend{color:#000;}
a{text-decoration:none;outline:none;cursor:pointer;color:#298ff8;}
a:link,a:visited{text-decoration:none;}
hr {height:0;}

/*首页*/
.item_box{width:100%;padding:0px 0px 82px 0px;overflow:hidden;}
.item_box_wp{width:1180px;margin:0 auto;}


/*语音通话*/
.box10{background:#00000000;padding:0px;height:410px;}
.voice_2{width:1180px;position:relative;left:50%;margin-left:-590px;}
.voice_2 ul li{float:left;display:inline;height:410px;color:#fff;cursor:pointer;position:relative;}
.voice_2 ul li.li1{background:#4a9ebd}
.voice_2 ul li.li2{background:#4abdb9}
.voice_2 ul li.li3{background:#90d73d}
.voice_2 ul li.li4{background:#e3d02c}
.voice_2 ul li.li5{background:#e37e2c}
.voice_2 ul li.li6{background:#cc428d}
.voice_2 .fold{width:100px;height:100%;text-align:center;position:absolute;top:0px;left:0px;}
.voice_2 .fold .img{display:block;background:url("../images/icon.png") 0 0 no-repeat;margin-bottom:20px;margin-top:236px;}
.voice_2 .li1 .fold .img{background-position:-482px -181px;width:56px;height:113px;margin:236px 20px 20px 20px;}
.voice_2 .li2 .fold .img{background-position:0 -417px;width:51px;height:138px;margin:236px 25px 28px 25px;}
.voice_2 .li3 .fold .img{background-position:-64px -413px;width:54px;height:142px;margin:239px 23px 20px 23px;}
.voice_2 .li4 .fold .img{background-position:-136px -204px;width:76px;height:96px;margin:276px 12px 26px 12px;}
.voice_2 .li5 .fold .img{background-position:-141px -420px;width:53px;height:116px;margin:259px 23px 24px 23px;}
.voice_2 .li6 .fold .img{background-position:-172px -306px;width:54px;height:104px;margin:270px 23px 25px 23px;}
.voice_2 .fold .txt{font-size:24px;display:block;width:25px;font-weight:normal;margin:0px 38px;line-height:25px;}
.voice_2 .unfold{width:680px;height:100%;display:none;position:absolute;top:0px;left:0px;}
.voice_2 .unfold dl{margin:50px 60px 0px 60px;}
.voice_2 .unfold dt{width:100%;text-align:center;margin-bottom:40px;}
.voice_2 .unfold dd{font-size:18px;line-height:35px;}
.voice_2 .unfold dd b{font-size:30px;font-weight:normal;}
.voice_2 .unfold dd b a{font-size:14px;display:inline-block;color:#fff;margin-left:40px;}